/* All elements */
.align-right{
  text-align:right;
}
/* Table */
.mdl-data-table{
  width: 100%;
}
.mdl-data-table-delete{
  cursor:pointer;
}
/* mdl-cell */
.mdl-cell_timer{
  text-align:center;
}

.mdl-cell_action{
  text-align:center;
}
